<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="Keywords" content="{{ detail.title }}">
        <meta name="Description" content="{{ detail.title }}">
        <link rel="shortcut icon" href="/favicon.ico" />
        <style>
                *{margin:0;font-family:"微软雅黑";background:#b49ea7;}
                h1{font-weight:300;text-align:center;margin:30px;}
                .content{ width:880px;height:540px;margin:50px auto;}
                .ts{color:red;font-size:30px;}
        </style>
        <title>{{ detail.title }}</title>
    </head>
    <body>
        <h1>{{ detail.title }}</h1>
        <div class="content">
            {{ detail.content | safe }}
        </div>
        <div class="ts">提示:该资源无法直接下载,请使用迅雷下载!</div>
        <a href="{{ detail.link }}" style="font-size:30px;">{{ detail.link }}</a>
    </body>
</html>
